<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item
    *ngFor="let item of components"
    [routerLink]="item.redirectTo"
    detail="true">
      <ion-icon
        [name]="item.icon"
        slot="start"
        color="primary">
      </ion-icon> {{item.name}}
    </ion-item>

  </ion-list>

  <!-- <ion-button routerLink="/alert" >Alert</ion-button>
  <ion-button routerLink="/action-sheet" >Action Sheet</ion-button> -->

</ion-content>
