<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nisi rem doloremque dolore cum omnis, illo libero assumenda, nesciunt consectetur debitis ratione officia natus voluptatum quae porro maiores. Ipsum, dicta?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlRWTBFIsXkTnI11wO1WHUeVv5sKQO1slM7w&usqp=CAU" class="w-100">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nisi rem doloremque dolore cum omnis, illo libero assumenda, nesciunt consectetur debitis ratione officia natus voluptatum quae porro maiores. Ipsum, dicta?
    </ion-card-content>
  </ion-card>

</ion-content>